	
			<section id="banner">
				<div class="container logo">
					<img src="../images/PETHOST_Logo_Final_2.png">
				</div>	
				<h2>Viaje tranquilo, deixe seu amigo em boas mãos.</h2>
				<div class="cadastro">
					<h2>Cadastre-se!</h2>
					<ul class="actions">
						<form action="/customer" method="post">
							<div class="form-contact">
								<div >
									<div class="3u$ 12u$ contact">
										<input name="name" id="name" value="" placeholder="Nome" type="text" required>
									</div>
									<div class="3u$ 12u$ contact">
										<input name="email" id="email" value="" placeholder="E-mail" type="email" required>
									</div>
								</div>	
								<div class="2u$ 12u$ btn-submit">
									<ul class="actions">
										<li><input value="Quero conhecer" class="button big" type="submit"></li>
									</ul>
								</div>
							</div>
						</form>
					</ul>
				</div>
			</section>

			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Depoimentos</h2>
						<p>Algumas pessoas que estão já satisfeitas com os serviços do PetHost :)</p>
					</header>
					<div class="row 100%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<img src="../images/icon_1.png"></img>
								<h3>“Com o PetHost fica muito fácil encontrar um lar de confiança para deixar as minhas companheiras"</h3>
								<p>Kaique Brand - Dono da Madonna e da Clara.</p>
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<img src="../images/icon_2.png"></img>
								<h3>Sou cat sitter e hoster há mais de dois anos e, este é um serviço que sei que vale a pena pagar pois dá retorno ao de clientes ao hoster. Eu pagaria sim para estar acessível a mais clientes e, aumentar minha renda com este serviço.</h3>
								<p>Claúdia – Hoster e Cat Sitter.</p>
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<img src="../images/icon_3.png"></img>
								<h3>O PetHost me ajuda a encontrar alguém que possa cuidar da Bolinha quando eu pecisar.</h3>
								<p>Maria Clara – dona da Bolinha.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Quer fazer parte da equipe PetHost?</h2>
						<p>Entre em contato para fazer um cadastro!</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="/host" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Nome" type="text" required>
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="E-mail" type="email" required>
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Mensagem" rows="3" required></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Enviar Mensagem" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="8u 12u$(medium)">
								<ul class="copyright">
								<li>&copy; PetHost - 2016</li>
							
							</ul>
						</div>
						<div class="1u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a href="https://www.facebook.com/pethost1" class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>